* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #236747;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: coral;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin: 50px auto;
    width: 350px;
}

.form-wrap {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
}

.form-wrap h1 
.form-wrap p {
    margin-bottom: 20px;
}

.form-group {
    margin: 20px 0;
}

.form-group label{
    display: block;
    text-align: left;
    font-size: 10px;
    color: #474747;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #a7a7a7;
}

.form-wrap button {
    width: 80%;
    background-color: coral;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#conditions {
    font-size: 12px;
}

#footertext {
    color: white;
}

/* Change background*/
@media only screen and (max-width: 800px) {
    body {
        background-color: purple;
    }

    a {
        color: black;
    }
}

/* Change background*/
@media only screen and (min-width: 950px) {
    body {
        background-color: burlywood;
    }

    a {
        color: black;
    }
}