* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: #bebebebe;
  width: 100vw;
  height: 400px;
  margin: 1rem;
  padding: 1rem;
}

.item {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  border-radius: 5px;
  padding: 1rem;
}

/* #section-a.item:first-child {
background-color: rgb(55, 91, 106);
position: relative;

} */

.item1 {
  background-color: rgb(55, 91, 106);
  position: relative;
  z-index: 2;
}

.item2 {
  position: relative;
  top: -100px;
  left: 100px;
  z-index: 1;
}

#section-b .item {
    position: fixed;
    top: 0;
    right: 0;
}

#section-c .item {
    position: absolute;
    right: 200px;
    bottom: 0;
}

#section-d {
    height: 2000px;
}

#section-d .item {
    position: sticky;
    top: 100px;
}
